@import url(../../style/global.css);

body { background: #f3f3f3; }
section { padding-bottom: 3px; }
.header { padding: 0 0 0 6px; /*background: silver;*/ }
.hflow { flow: horizontal; vertical-align: middle; }

.hue-slider { prototype: HueBar; }
.saturation-slider { prototype: SaturationBar; }
.opacity-slider { prototype: OpacityBar; }

.area-inputs { padding: 4px; }
.area-inputs:disabled { display: none; }
.area-inputs [type=text] { width: 40px; margin-left: 5px; font-family: monospace; }
.area-inputs [type=text][readonly] { background: silver; }
.area-inputs [type=decimal] { width: 50px; }
.area-inputs #box-color { size: 30px 20px; margin: 0; background: red; border: solid 1px #abadb3; cursor: pointer; }

.area-actions
{
	position: fixed;
	z-index: 99999;
	bottom: 0;
	width: 100%;
	min-width: max-content;
	padding: 4px;
	background: #f3f3f3;
	border-top: solid 1px silver;
	text-align: right;
}


.bar
{
	size: 150px 20px;
	//padding: 1px;
	border: solid 1px #abadb3;//#cccccc;
	background: white no-repeat center;
	cursor: w-resize;
}
.bar.hue { background-image: url(../../img/bar_hue.png); }
.bar.saturation { background-image: url(../../img/bar_saturation.png); }
.bar.opacity { background-image: url(../../img/bar_alpha.png); }

.bar .picker
{
	position: relative;
	left: 0;
	margin-left: 0px;
	size: 2px *;
	background: white;
	border: 1px solid #000;
}